@charset "UTF-8";

body {
  background-image: linear-gradient(rgb(43, 135, 169), rgb(21, 26, 48));
  color: #fff;
}

h1 {
  position: relative;
  text-align: center;
  font-weight: normal;
  margin: 500px 0 1500px;

  &::after {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -100%;
    width: 30px;
    height: 30px;
    margin: auto;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(135deg);
    content: '';
    animation-name: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0) rotate(135deg);
    opacity: 0;
  }
  30% {
    transform: translateY(0) rotate(135deg);
    opacity: 1;
  }
  80% {
    transform: translateY(100%) rotate(135deg);
    opacity: 0;
  }
  100% {
    transform: translateY(100%) rotate(135deg);
    opacity: 0;
  }
}

.point-01 {
  margin-bottom: 2000px;
  text-align: center;
  font-size: 30px;
  opacity: 0;

  &.to-bottom {
    transform: translateY(50px);

    &.is-visible {
      transform: translateY(0);
    }
  }

  &.to-right {
    transform: translateX(100px);

    &.is-visible {
     transform: translateX(0);
    }
  }

  &.to-left {
    transform: translateX(-100px);

    &.is-visible {
      transform: translateX(0);
    }
  }
  &.is-visible {
    transition: 1.5s;
    opacity: 1;
  }
  &.end {
    margin-bottom: 700px;
  }
}